body {
  background-color:#eaf6f6;
}
hr {
  border-style: none;
  border-bottom-style: dotted;
  border-color: #0f4c75;
  border-bottom-width: 6px;
  height: 20px;
  width:5%;
}
img{
  height: 420px;
  border-radius: 500px;
  border-top-right-radius: 0px;
}

h1{
  color: #222831;
}

h3{
  color: #222831;
}
